<!DOCTYPE html>
<html>
<head>

    <title>Login App</title>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="/static/sencha/resources/css/sencha-touch.css" type="text/css">
    <script type="text/javascript" src="/static/sencha/touch-2.3.1/sencha-touch-all-debug.js"></script>
    <script type="text/javascript" src="/static/login/app.js"></script>
    <script type="text/javascript" charset="utf-8">
            function onLoad()
        {
            document.addEventListener("deviceready", onDeviceReady, false);
        }
    </script>
</head>
<body onload="onLoad()"></body>
</html>
