// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/cupertino';
@import 'sencha-touch/cupertino/all';

.x-navigationview > div > .x-toolbar-dark.x-toolbar.x-navigation-bar.x-docked-top {
	padding-top: 20px;
	height: 70px;
}

.checkbox {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid #ddd;
	border-radius: 3px;
	@include box-shadow(#eee 0 0 1px 1px inset);

	&.checked {
		background: $ios7-blue;
		@include box-shadow(#fff 0 0 0 1px inset);
	}
}

.x-field .x-form-label {
	border-right: 1px solid #edebf1;
}

.x-grid-cell .button {
	font-weight: bold;
	text-decoration: underline;
}

// Active DG
.toolbarHeader {
	margin-top: 30px;
	background: $ios7-red-lighten;
	border-top: 1px solid $ios7-red;
	border-bottom: 1px solid $ios7-red !important;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}